[submodule "lib/asmjit"]
	path = lib/asmjit
	url = git@github.com:calcyss/asmjit.git
[submodule "lib/catch"]
	path = lib/catch
	url = git@github.com:calcyss/Catch.git
[submodule "lib/simple.vm"]
	path = lib/simple.vm
	url = git@github.com:calcyss/simple.vm.git
